body
{
	margin: 0px;
}
h1
{
	font-family: fantasy;
	color: red;
	background-color:black;
	text-align:center;
	border: 5px solid rgba(112, 142, 164,0.5) ; 
	cursor: not-allowed;
	display: run-in;
}
h1
{
	transition: all;
}
h1:hover
{
background-color: green;
	transform: scale(1.0);
}
.div
{
	display: inline-block;
	font-size-adjust: all;
	list-style: none;
	background-color: deepskyblue;
	display: inline-flex;
	flex-flow: row;
	justify-content: space-between;
	/*THESE FOUR LINES ARE USED FOR SPACCING BETWEEN TEXT IN A FLEX*/
	display: -webkit-box;
 	display: -moz-box;
 	display: -ms-flexbox;
  	display: -webkit-flex;
}
.img
{
	background-color: green;
	color: red;
	border: 5px solid black;
	display: inline-block;/*inline block*/
	padding: 10px 20px 10px 20px;/*top,right,bottom,left*/
	margin: 0px 20px 0px 20px /*top,right*/
	width: 250px;
	height: 250px;
	transition: all;
}
.img:hover
{
	background-color: green;
	transform: scale(1.5);
}
.header
{
  display: block;
  padding: 2em;
  color: red;
}